# PBP outbreak prediction

Author: Gabriel R Palma.
    
Purpose: Prediction of outbreaks based on Pattern Based Prediction (PBP) method.

# Importing packages

In [3]:
import pypbp as pbp
import pandas as pd

# Importing data

In [10]:
reconstructed_dataset = pd.read_csv('output_data/reconstructed_timeseries.csv')
reconstructed_dataset = reconstructed_dataset.drop('Unnamed: 0', axis = 1)

In [11]:
reconstructed_dataset

     pmm_t  y_t13  y_t14  y_t15
0     33.6    221    347     62
1    114.1    347     62    108
2     17.4     62    108    178
3     14.3    108    178     76
4      6.2    178     76     89
..     ...    ...    ...    ...
191    0.4     22     34     21
192   94.7     34     21     45
193  110.2     21     45      6
194   54.0     45      6      0
195   69.0      6      0      0

[196 rows x 4 columns]

# Training the model

In [13]:
results, xstar, clustered_patterns, parameters = pbp.pbp_fit(time_series = pbp.time_series,
            train_percentage = 0.5,
            xstar = 200,
            maxfun = 200)